.topLogo {
  height: 50px;
  padding-top: 10px;
}

.launchPageImage {
  position: fixed;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2E946F;
    overflow-x: hidden;
    opacity: 0.4;
}

